.parallelogramme {
    width: 0;
    height: 55vh;
    border-left: 100vw solid #292929;
    border-top: 20vh solid transparent;
    position: relative;
}

.parallelogramme:after {
    width: 0;
    height: 0;
    content: '';
    border-right: 100vw solid #292929;
    border-bottom: 20vh solid transparent;
    border-top: 20vh solid transparent;
    position: absolute;
    bottom: -20vh;
    left: -100vw;
}

.phrases {
    display: flex;
    width: 300px;
    height: 159px;
    flex-shrink: 0;
    color: #ffffff;
    font-family: Orbitron;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    margin-left: -1375px;
    margin-top: -75px;
    align-items: center;
    justify-content: center;
}

.phrases4 {
    display: flex;
    width: 1200px;
    height: 159px;
    flex-shrink: 0;
    color: #ffffff;
    font-family: mulish;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
    margin-left: -1375px;
    margin-top: -40px;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 10px rgba(0, 253, 253, 0.737);
}

.coupe {
    display: flex;
    margin-left: -1305px;
    margin-top: 120px;
    height: 175px;
}

.phrases2 {
    display: flex;
    width: 300px;
    height: 159px;
    flex-shrink: 0;
    color: #ffffff;
    font-family: Orbitron;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    margin-left: 275px;
    margin-top: -25px;
    align-items: center;
    justify-content: center;

}

.upcoins {
    margin-left: -260px;
    margin-top: 125px;
    z-index: 1003;
}

.phrases3 {
    display: flex;
    width: 300px;
    height: 159px;
    flex-shrink: 0;
    color: #ffffff;
    font-family: Orbitron;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    margin-left: 250px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.certification {
    margin-left: -275px;
    margin-top: 215px;
    z-index: 1002;
}

.decale {
    margin-top: 20px;
}

.cadre_texte_2 {
    display: flex;
    margin-top: 130px;
    margin-left: 40px;
}

.placement {
    margin-left: -688px;
    margin-top: 350px;
}

.placement2 {
    margin-left: -800px;
    margin-top: 500px;
}

.placement3 {
    margin-left: -100px;
    margin-top: 400px;
}

.LEAGUE {
    margin-left: -1300px;
    margin-top: 106px;
    z-index: 1005;
    border-radius: 20px;
    position: relative;
    animation: glowAnimation 2s infinite alternate;
    /* Appel de l'animation */
}

@keyframes glowAnimation {
    0% {
        box-shadow: 0px 0px 5px 2.5px rgba(0, 162, 255, 0.667);
        /* Pas de lueur */
    }

    100% {
        box-shadow: 0px 0px 10px 5px rgba(0, 255, 255, 0.508);
        /* Lueur pleine */
    }
}

@keyframes glowAnimation2 {
    0% {
        box-shadow: 0px 0px 5px 2.5px rgba(0, 201, 184, 0.667);
        /* Pas de lueur */
    }

    100% {
        box-shadow: 0px 0px 10px 5px rgba(0, 208, 255, 0.508);
        /* Lueur pleine */
    }
}

.VALORANT {

    margin-left: 50px;
    margin-top: 106px;
    z-index: 1006;
    animation: glowAnimation2 2s infinite alternate;
    border-radius: 20px;

}

.conteneur {
    width: 500px;
    height: auto;
}

.conteneur img {
    width: 100%;
    height: auto;
}

.remonte {
    margin-top: 0px;
}

.position_x {
    margin-left: 150px;
    margin-top: 150px;
}

.position-X {
    margin-left: -1350px;
    margin-top: 550px;
    transition: box-shadow 0.3s ease;
}

.position-twitch {
    margin-left: 100px;
    margin-top: 0px;
    transition: box-shadow 0.3s ease;
}

.position-discord {
    margin-left: 100px;
    margin-top: 0px;
    transition: box-shadow 0.3s ease;
}

.position-insta {
    margin-left: 100px;
    margin-top: 100px;
    transition: box-shadow 0.3s ease;
}

.position-twitch:hover {
    box-shadow: 0px 0px 10px 5px rgb(179, 0, 255);
}

.position-discord:hover {
    box-shadow: 0px 0px 10px 5px rgb(114, 137, 218);
}

.position-insta:hover {
    box-shadow: 0px 0px 10px 5px rgb(188, 42, 141);
}

.position-x:hover {
    box-shadow: 0px 0px 10px 5px rgb(0, 253, 253);
}

.mentions {

    display: flex;
    width: 1200px;
    height: auto;
    flex-shrink: 0;
    color: #ffffff;
    font-family: mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
    margin-left: -460px;
    margin-top: -100px;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 2px rgba(0, 253, 253, 0.737);

}

.mentions2 {
    position: absolute;
    display: flex;
    width: 150px;
    height: auto;
    flex-shrink: 0;
    color: #ffffff60;
    font-family: roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: auto;
    line-height: 110%;
    margin-left: 30px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;


}

.mentions3 {
    position: absolute;
    display: flex;
    width: 150px;
    height: auto;
    flex-shrink: 0;
    color: #ffffff60;
    font-family: roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: auto;
    line-height: 110%;
    margin-left: 35px;
    margin-top: 45px;
    align-items: center;
    justify-content: center;
}

.mentions4 {
    position: absolute;
    display: flex;
    width: 150px;
    height: auto;
    flex-shrink: 0;
    color: #ffffff60;
    font-family: roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: auto;
    line-height: 110%;
    margin-left: 20px;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}

.mentions5 {
    position: absolute;
    display: flex;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    color: #ffffff60;
    font-family: roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: auto;
    line-height: 110%;
    margin-left: 5px;
    margin-top: 75px;
    align-items: center;
    justify-content: center;

}

.baisse {
    margin-top: 50px;
}

.nouscontacter {
    margin-left: -400px;
    margin-top: 70px;
}

.mail {
    color: #ffffff60;
    font-family: roboto;
    font-size: 10px;
    margin-top: -7.5px;
    margin-left: 45px;
}

.decouvrir {
    margin-left: -475px;
    margin-top: 75px;
}

.a-propos {
    color: #ffffff60;
    font-family: roboto;
    font-size: 10px;
    margin-top: -7.5px;
    margin-left: 80px;
}

.lueur:hover {
    text-shadow: 0px 0px 5px rgba(0, 253, 253, 0.656);
}

.logo_footer {
    position: absolute;
    margin-top: -30px;
    margin-left: -200px;
    height: 100px;
}

.nextup {
    position: absolute;
    font-family: mulish;
    font-size: 15px;
    color: #ffffff;
    margin-left: 1250px;
    margin-top: 100px;
    font-weight:bold;
}